<p>menu works!</p>
<!-- <a [routerLink]="['first']">First</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['second']">Second</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['third']">Third</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['twoway']">Two Way</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['event']">Event</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['calc']">Calc</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employ']">Employ Component</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['employDropDown']">Employ DropDown</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->

<a [routerLink]="['/menu',{outlets: {'mphasis': ['first']}}]"> First</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['second']}}]"> Second</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['third']}}]"> Third</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['twoway']}}]"> Twoway</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['event']}}]"> Event</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['calc']}}]"> Calc</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['employ']}}]"> Employ</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['/menu',{outlets: {'mphasis': ['employdropdown']}}]"> Employ DropDown</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<hr/>
<router-outlet name="mphasis"></router-outlet>
