<p>calc works!</p>

First Number : 
<input type="number" name="firstNo" [(ngModel)]="firstNo" /> <br/><br/>
Second Number : 
<input type="number" name="secondNo" [(ngModel)]="secondNo" /> <br/><br/> 
Result : 
<input type="number" name="result" [(ngModel)]="result" /> <br/><br/> 

<input type="button" value="Sum" (click)="sum()" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Sub" (click)="sub()" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Mult" (click)="mult()" />