<p>calc works!</p>

First No :
<input type="number" name="firstNo"
        [(ngModel)]="firstNo" /> <br/><br/>

Second No : 
<input type="number" name="secondNo"
        [(ngModel)]="secondNo" /> <br/><br/>

Result : 
<input type="number" name="result"
        [(ngModel)]="result" /> 
        <br/><br/>
<input type="button" (click)="sum()" value="Sum" /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Sub" /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" value="Mult" />        