<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>P1</display-name>
  <welcome-file-list>
    <welcome-file>Search.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.cts.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.cts.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFlightServlet</display-name>
    <servlet-name>NewFlightServlet</servlet-name>
    <servlet-class>com.cts.controller.NewFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFlightServlet</servlet-name>
    <url-pattern>/NewFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearch</display-name>
    <servlet-name>FlightSearch</servlet-name>
    <servlet-class>com.cts.controller.FlightSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearch</servlet-name>
    <url-pattern>/FlightSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightUpdationServlet</display-name>
    <servlet-name>FlightUpdationServlet</servlet-name>
    <servlet-class>com.cts.controller.FlightUpdationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightUpdationServlet</servlet-name>
    <url-pattern>/FlightUpdationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDeletionServlet</display-name>
    <servlet-name>FlightDeletionServlet</servlet-name>
    <servlet-class>com.cts.controller.FlightDeletionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDeletionServlet</servlet-name>
    <url-pattern>/FlightDeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdationCheckServlet</display-name>
    <servlet-name>UpdationCheckServlet</servlet-name>
    <servlet-class>com.cts.controller.UpdationCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdationCheckServlet</servlet-name>
    <url-pattern>/UpdationCheckServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>BookingHistoryServlet</display-name>
    <servlet-name>BookingHistoryServlet</servlet-name>
    <servlet-class>com.cts.controller.BookingHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingHistoryServlet</servlet-name>
    <url-pattern>/BookingHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketCancellation</display-name>
    <servlet-name>TicketCancellation</servlet-name>
    <servlet-class>com.cts.controller.TicketCancellation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketCancellation</servlet-name>
    <url-pattern>/TicketCancellation</url-pattern>
  </servlet-mapping>
</web-app>