body {
	background-color: blue;
}

p {
	color: maroon;
	background-color: magenta;
	font-size: 24pt;
	font-family: Arial;
	
}

h1 {
	color:orange;
	background-color: blue;
	font-size: 38pt;
	font-family: Tahoma;
}

span {
	color:green;
	font-size: 48pt;
	font-family: Garamond;
}